{
    "msrvtt": {
        "anno_path": "/path/to/anno/json",
        "data_root": "/path/to/data/root"
    },
    "msvd": {
        "anno_path": "/path/to/anno/json",
        "data_root": "/path/to/data/root"
    },
    "didemo": {
        "anno_path": "/path/to/anno/json",
        "data_root": "/path/to/data/root",
        "apply_paragraph_retrieval": true,
        "trim30": true
    },
    "carebench": {
        "anno_path": "/path/to/anno/json",
        "data_root": "/path/to/data/root"
    },
}